{% load static %}
<!-- <nav id="sidebarMenu" class="sidebar col-md-3 col-lg-2 d-md-block text-white bg-primary collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <span data-feather="home"></span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="plotModule"></span>
            Analysis
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="generateReport"></span>
            Reports
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <div class="vertical-nav bg-white" id="side-bar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="plotModule"></span>
          Analysis
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="generateReport"></span>
          Reports
        </a>
      </li>
    </ul>
  </div> --> -->


  <div class="sidebar">
    <a href="#"><i class="fas fa-diagnoses"></i><span>Dashboard</span></a>
    <a href="#"><i class="fas fa-chart-line"></i><span>Analysis</span></a>
    <a href="#"><i class="far fa-file-alt"></i><span>Reports</span></a>
  </div>