{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link href="{% static 'css/dashboard_v2.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  </head> 
  <body>

    <input type="checkbox" id="nav-toggle" aria-labelledby="inputmaptoggle">
    {% include 'partials/sidebar_v2.html' %}

    <div class="main-content">
      {% include 'partials/header.html' %}
      <main>
        <!--The div element for the map -->
        {% block content %}
  
        {% endblock %}
      </main>

      <!-- All js goes here -->
      <script src="{% static 'js/main.js' %}"></script>
      <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
      <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    </div>
  </body>
</html>

